# =========================
# Python / Django
# =========================

venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# =========================
# React / Vite
# =========================

node_modules/
dist/

# =========================
# Environment Variables
# =========================

.env
.env.local

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Logs
# =========================

*.log

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Build Files
# =========================

build/